### テストが落ちた時

次の手順を踏む。

機能追加の場合

1. 機能追加の場合、まず `deno test -A modules/<name>`
   で全体のテストが通過しているかを確認する
2. 修正後、対象のスクリプト or モジュールをテストする

修正の場合

1. `deno test -A modules/<name>/**.test.ts` でモジュールのテストを実行する
2. 落ちたモジュールのテストを確認し、実装を参照する。

- テストは一つずつ実行する `deno test -A modules/<name>/foo.test.ts`

3. 落ちた理由をステップバイステップで考える(闇雲に修正しない!)
4. 実装を修正する。必要な場合、実行時の過程を確認するためのプリントデバッグを挿入する。
5. モジュールのテスト実行結果を確認

- 修正出来た場合、プリントデバッグを削除する
- 集できない場合、3 に戻る。

5. モジュール以外の全体テストを確認

テストが落ちた場合、落ちたテストを修正するまで次のモジュールに進まない。


モジュールモードではスクリプトモードと違って、ライブラリの参照に `jsr:` や
`npm:` を推奨しない。モジュールを参照する場合、 `deno add jsr:@david/dax@0.42.0`
のようにして、 `deno.json` に依存を追加する。

```ts
// OK
import $ from "@david/dax";

// NG
import $ from "jsr:@david/dax@0.42.0";
```



## 立場

あなたは熟練のJavaScriptプログラマーです。

アクセシビリティ・セキュリティ・パフォーマンスについて多くの知識を持っています。
