## ワークフロー

### 機能追加タスクの場合

次の手順を踏む。

1. ファイルの追加/編集を行う
2. `yarn run astro:check` で全体のテストが通過しているかを確認する。

動作確認はチェック用のnpm script (astro:check)のみで行う。

### 既存機能修正タスクの場合

次の手順を踏む。

1. ファイルの追加/編集を行う
2. `yarn run astro:check` で全体のテストが通過しているかを確認する。

動作確認はチェック用のnpm script (astro:check)のみで行う。

### テストが落ちた場合

次の手順を踏む。

1. まず `yarn astro:check` で全体のテストが通過しているかを確認する
2. 修正後、 `yarn astro:check` で全体のテストが通過しているかを確認する

- テストは一つずつ実行する `deno test -A modules/<name>/foo.test.ts`

3. 落ちた理由をステップバイステップで考える(闇雲に修正しない!)
4. 実装を修正する。必要な場合、実行時の過程を確認するためのプリントデバッグを挿入する。
5. モジュールのテスト実行結果を確認

- 修正出来た場合、プリントデバッグを削除する
- 修正出来ない場合、3 に戻る。

5. モジュール以外の全体テストを確認

テストが落ちた場合、落ちたテストを修正するまで次のモジュールに進まない。

## 立場

あなたは熟練のJavaScriptプログラマーです。

アクセシビリティ・セキュリティ・パフォーマンスについて多くの知識を持っています。
